.dashboard {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas: 
        "title title"
        "map desc"
        "map seats"
        "division prefs";
    grid-template-columns: 60vw 40vw;
    grid-template-rows: 10% 20% 30% 40%;
}

.title-container {
    grid-area: title;
    border-bottom: 1px solid black;
    padding: 0 0 0 2vw;
}

.map-container {
    grid-area: map;
    border-right: 1px solid black;
    padding: 2vh 0 0 2vw;
}

.division-container {
    grid-area: division;
    border-right: 1px solid black;
    padding: 0 0 0 2vw;
}

.overview-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100%;
}

.desc-container {
    grid-area: desc;
    padding: 0 2vw 0 2vw;
}

.seats-container {
    grid-area: seats;
    padding: 0 2vw 0 2vw;
}

.prefs-container {
    grid-area: prefs;
    padding: 0 2vw 0 2vw;
}


body {
    background-color: #efefef;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.title-centre {
    display: grid;
    grid-template-areas:
        "top-space"
        "title"
        "bot-space";
    grid-template-rows: auto 2em auto;
}

.title-centre h1 {
    margin: 0;
}