.dashboard {
    padding: 0vh 1vw;
    width: 98vw;
    height: 98vh;
    display: grid;
    grid-template-areas: 
        "title title"
        "map overview"
        "map breakdown"
        "division breakdown";
    grid-template-columns: 58vw 40vw;
    grid-template-rows: 10vh 24vh 32vh 32vh;
}

.title-container {
    grid-area: title;
}

.map-container {
    grid-area: map;
}

.division-container {
    grid-area: division;
}

.overview-container {
    grid-area: overview;
}

.overview-grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

.breakdown-container {
    grid-area: breakdown;
}

.breakdown-container h3, .breakdown-container h4 {
    margin: 0;
}

.breakdown-grid {
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 42% auto 42%;
    grid-template-areas:
        "headings-1 headings-1"
        "states-bar states-pie"
        "headings-2 headings-2"
        "demo-bar demo-pie";
}